<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bucai.torch">

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".view.EvaluatePrepareActivity"/>
        <activity android:name=".view.WebActivity"/>
        <activity android:name=".view.main.measurement.MeasureDetailActivity"/>
        <activity android:name=".view.main.appointment.TeaInfoActivity"/>
        <activity android:name=".view.login.LoginActivity"/>
        <activity android:name=".view.CompleteActivity"/>
        <activity android:name=".view.main.appointment.AppointChooseActivity"/>
        <activity android:name=".view.main.appointment.AppointCompleteActivity"/>
        <activity android:name=".view.message.MessageActivity"/>
        <activity android:name=".view.message.ChatActivity"/>
        <activity android:name=".view.PhotoActivity"/>

        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService"/>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->

        <activity android:name=".view.teacher.TeacherDetailActivity"/>
        <activity android:name=".view.main.searchresult.SearchResultActivity">
        </activity>
    </application>

</manifest>